*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    .main{
        .nav-bar{
            display: flex;
            img{
                margin-inline-start: 40px;
            }
            ul{
                display: inline-block;      
            }
            li{
                list-style: none;
                display: inline-block;
                margin-left: 55px;
                margin-top: 20px;
   
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 25px;
            }
            .search{
                height: 40px;
                width: 200px;
                text-align: center;
                border-radius: 20px;
                position: relative;
            }
            .search::after{
                
                font-family: sans-serif;
                position: absolute;
                top: 0px;
                left: -5px;
                content: "\f002";
            }
            
            
        }
        background-color:#2c2cef;
        hr{
            height: 2px;
            color: white;
        }
        nav{
            
            li{
                list-style: none;
                display: inline-block;
                height: 40px;
            }
            a{
                margin-inline-start: 40px;
                text-decoration: none;
                color: white;
                font-size: 20px;
                
            }
        }
    }
}





   